nav#menu {
background-color: orange;
width: 250px;
padding: 15px;
margin: 0 auto;
}
nav#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav#menu ul li {
    margin-bottom: 5px;
    background-color: rgb(102, 255, 0);

}

nav#menu ul li a{
display: block;
padding: 8px 5px;
background-color: purple;
text-decoration: none;
color: black;
}
nav#menu ul li a:hover {
background-color: plum;
color: white;
}